body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
}

.container {
    width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: rgb(26, 129, 174);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}
